<!-- <h3>İLk angular projem</h3>
<h1>{{ kursat }}</h1>

ngIf

<div *ngIf="!isUpdate">False ise</div>

ngFor

<div *ngIf="isUpdate">True ise</div> -->
<!-- <div *ngFor="let post of posts">
  {{ post.title }}
</div> -->

<!-- <div class="container">
  <div class="row my-5">
    <div class="col-4" *ngFor="let post of posts">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>{{ post.username }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          :src="{{ post.imageUrl }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ post.content }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <h3>{{ title }}</h3>
    <div class="col-4" *ngFor="let post of posts">
      <!-- <app-card
        [title]="post.title"
        [username]="post.username"
        [image]="post.imageUrl"
        [content]="post.content"
      ></app-card> -->
      <app-card [post]="post" (titleSender)="setTitle($event.title)"></app-card>
    </div>
  </div>
</div>
