@media screen and (min-width:911) {
    .nav-form {
        display: none;
    }

}

.btn-outline {
    border: 1px solid #44C9E8;
    color: #44C9E8;
}

.btn-outline:hover {
    background-color: #44C9E8;
    color: white;

}

.btn-ilan {
    background-color: #44C9E8;
    color: white;
}

.dropdown-toggle:hover {
    background-color: transparent;
}

.dropdown-toggle {
    transition: all .3s ease-in-out;
}

.carousel-item {
    height: 23rem;

}

.carousel-item>img {
    height: 23rem;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.carousel-item {
    height: 26rem;
}

.social {
    color: white;
    font-size: 24px;
    background: orange;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook-f:before {
    content: "\f39e";
    margin-top: 11px;
    font-size: 2rem;
}

.social-button {
    width: 10rem;
}