<div class="container">
  <div class="row">
    <div class="col-12">
      <nav>
        <ul class="pagination d-flex justify-content-center">
          <li
            class="page-item"
            [ngClass]="currentPage == 0 ? 'disabled' : ''"
            (click)="decrasePage()"
          >
            <a class="page-link" style="cursor: pointer">Önceki</a>
          </li>
          <li
            *ngFor="let item of images; let index = index"
            class="page-item"
            aria-current="page"
            [ngClass]="currentPage === index ? 'active' : ''"
          >
            <span class="page-link" (click)="currentPage = index">{{
              index + 1
            }}</span>
          </li>
          <li
            class="page-item"
            [ngClass]="currentPage == images.length - 1 ? 'disabled' : ''"
            (click)="raisePage()"
          >
            <a class="page-link" style="cursor: pointer">Sonraki</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-12">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item text-center"
            *ngFor="let item of images; let i = index"
            [ngClass]="currentPage === i ? 'active' : ''"
          >
            <h3>{{ item.title }}</h3>
            <img src="{{ item.url }}" class="d-block w-75 m-auto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
