#hamburger-menu {
    /* display: none; */
    position: relative;
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    display: none;


}

#hamburger-menu::after,
#hamburger-menu::before {
    width: 30px;
    height: 5px;
    background-color: black;
    position: absolute;
    z-index: 2;
    content: '';
    border-radius: 50px;


}

#hamburger-menu::before {
    top: 7px;
    height: 4.7px;
}

#hamburger-menu::after {
    top: -7px;
}

#hamburger-items {
    display: none;
}

@media screen and (max-width:900) {}